<ion-page class="show-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>Ionic 4 + Vue Application </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content" padding>
    <ion-button @click="goToPage2" full>Go To Page II</ion-button>
  </ion-content>
</ion-page>
